body {
    font: 14px Arial,sans-serif; 
    margin: 0px;
  }

.header {
    padding: 10px 20px;
    background: #acb3b9; 
    text-align: center;
}
.header h1 {
    font-size: 24px;
}

.container {
  width: 100%;
  background: #f2f2f2; 
}

.nav, .section {
  float: left; 
  padding: 20px;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.nav {            
  width: 15%;
  background-color: #f2f2f2;
       
}
.section {
  width: 82%;
  padding: 0px;
}
.nav ul {
  list-style: none; 
  line-height: 20px;
  padding: 0px;
  background: #f2f2f2; 
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.footer {
  background: #acb3b9;            
  text-align: center;
  padding: 5px;
}

li a {
    display: block;
    width: 60px;
    background-color: #f2f2f2;
  }

a:link, a:visited {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #acb3b9;
}

  h2.titulo1 {
    background-color:rgb(55, 199, 199);
    margin: 0px;
    padding: 10px;
    color: white;
  }

  p.parrafo1 {
    background-color: rgb(55, 199, 199);
    margin: 0px;
    padding: 10px;
    color: white;
  }
  h2.titulo2 {
    background-color:rgb(212, 212, 24);
    margin: 0px;
    padding: 10px;
    color: white;
  }
  p.parrafo2 {
    background-color: rgb(212, 212, 24); 
    margin: 0px;
    padding: 10px;
    color: white;
  }

  h2.titulo3{
    background-color: orange;
    margin: 0px;
    padding: 10px;
    color: white;
  }

  p.parrafo3 {
    background-color: orange; 
    margin: 0px;
    padding: 10px;
    color: white;
  }
  h2.titulo4{
    background-color: darkred;
    margin: 0px;
    padding: 10px;
    color: white;
  }

  p.parrafo4 {
    background-color: darkred; 
    margin: 0px;
    padding: 10px; 
    color: white;
  }